services:

  my-app:
    build: targets/my-app
    container_name: my-app      # must match container: in targets/my-app/target.yaml
    ports:
      - "8080:8080"

  # add additional targets as needed
  # my-db:
  #   image: postgres:16
  #   container_name: my-db
  #   ports:
  #     - "5432:5432"
